// main colors

$color-1: #6fce72 ; // Green
$color-2: #180D0C; // Smoky Black
$color-3: #c7121e; // Lava
$color-4: #EDD397; // Wheat
$color-5: #f8f8f8; // Floral White
$color-2-lite: #2a2929;
$color-6: gold;