// fonts
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Raleway:wght@600&family=Bungee+Outline&display=swap');
@import url('https://kit.fontawesome.com/a076d05399.js');
@import 'layout';
@import 'sizes-and-spacing';


$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Bungee Inline', cursive;
$secondary-variant: 'Bungee Outline', cursive;

/* -------------------------------

xMIXINS

------------------------------- */
@mixin AT($align) {
  @if $align == L {
    text-align: left;
  }
  @else if $align == C {
    text-align: center;
  }
  @else if $align == R {
    text-align: right;
  }

}

/* --------------------------------

xTypography

-------------------------------- */

h1 {
  font-family: $secondary-variant;
  font-size: 48px;
  text-shadow:-5px 6px 5px $color-2;
  @include MQ(S) {
    font-size: 38px;
  }
}
h2 {
  font-family: $secondary-font;
  color: $color-4;
  text-shadow: 1px 2px 10px $color-3;
  @include AT(C);
  text-emphasis: triangle $color-1;
  text-emphasis-position: under left;
  text-decoration: overline;
  text-decoration-color: $color-3;
  font-weight: lighter;
  font-size: 24px;
  @include MQ(S) {
    font-size: larger;
  }
}
h3 {
  font-family: $secondary-font;
  color: $color-4;
  text-shadow: 1px 2px 10px $color-3;
  @include pad4(0.5em, 1em, 0.5em, 0.5em);
  background-color: $color-2;
  color: $color-4;
  text-emphasis: triangle $color-1;
  text-emphasis-position: under left;
  text-decoration: overline;
  text-decoration-color: $color-3;
  font-weight: lighter;
  @include MQ(L) {font-size: 1.5vw;border-radius: 5px;}
  @include MQ(M) {
    font-size: 16px;
    line-height: 1em;

  }
}

p,
a {
  font-family: $primary-font;
}
a {
  text-decoration: none;
  color: $color-1;
  text-shadow: 1px 1px 1px $color-2;

}
a:hover {
  color: $color-3;
}
